.container {
  background-color: #2f2f2f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #ffff;
}
.todoTitle {
  text-align: center;
  padding-bottom: 10px;
}
